<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuuui.dao.system.SysUserDao">

	<resultMap id="baseResultMap" type="com.iuuui.domain.system.SysUser">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="nickname" column="nickname" />
		<result property="telCode" column="tel_code" />
		<result property="tel" column="tel" />
		<result property="avatar" column="avatar" />
		<result property="gender" column="gender" />
		<result property="status" column="status" />
		<result property="introduction" column="introduction" />
		<result property="remark" column="remark" />
		<result property="deptId" column="dept_id" />
		<result property="createUserId" column="create_user_id" />
		<result property="createTime" column="create_time" />
		<result property="updateUserId" column="update_user_id" />
		<result property="updateTime" column="update_time" />
	</resultMap>

    <sql id="fields">  id,  name,  nickname,  tel_code,  tel,  avatar,  gender,  status,  introduction,  remark, dept_id, create_user_id,  create_time,  update_user_id,  update_time  </sql>

    <sql id="table_name">sys_user</sql>

    <sql id="selector">
        select <include refid="fields"/> from <include refid="table_name"/>
    </sql>

    <delete id="deleteM">
        DELETE FROM <include refid="table_name"/>
        WHERE id = #{id}
    </delete>

    <insert id="createM" useGeneratedKeys="true" keyProperty="id" parameterType="com.iuuui.domain.system.SysUser">
		INSERT INTO <include refid="table_name"/>(<include refid="fields"/>)
        VALUES (  #{id},  #{name},  #{nickname},  #{telCode},  #{tel},  #{avatar},  #{gender},  #{status},  #{introduction},  #{remark}, #{deptId},  #{createUserId},  #{createTime},  #{updateUserId},  #{updateTime}  )
	</insert>

    <update id="updateM" parameterType="com.iuuui.domain.system.SysUser">
        UPDATE
        <include refid="table_name"/>
        <set>
            <if test="name != null ">
              name = #{name},
            </if>
            <if test="nickname != null ">
              nickname = #{nickname},
            </if>
            <if test="telCode != null ">
              tel_code = #{telCode},
            </if>
            <if test="tel != null ">
              tel = #{tel},
            </if>
            <if test="avatar != null ">
              avatar = #{avatar},
            </if>
            <if test="gender != null ">
              gender = #{gender},
            </if>
            <if test="status != null ">
              status = #{status},
            </if>
            <if test="introduction != null ">
              introduction = #{introduction},
            </if>
            <if test="remark != null ">
              remark = #{remark},
            </if>
            <if test="deptId != null ">
                dept_id = #{deptId},
            </if>
            <if test="createUserId != null ">
              create_user_id = #{createUserId},
            </if>
            <if test="createTime != null ">
              create_time = #{createTime},
            </if>
            <if test="updateUserId != null ">
              update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null ">
              update_time = #{updateTime}
            </if>
          </set>
        where id = #{id}
    </update>

    <select id="getByIdM" resultMap="baseResultMap">
        <include refid="selector"/>
        WHERE id = #{id}
    </select>

    <select id="countM" resultType="java.lang.Long">
        select
        count(*)
        from
        <include refid="table_name"/>
        <where>
            <if test="id != null and id !='' ">
                and id = #{id}
            </if>
            <if test="name != null and name !='' ">
                and name = #{name}
            </if>
            <if test="nickname != null and nickname !='' ">
                and nickname = #{nickname}
            </if>
            <if test="telCode != null and telCode !='' ">
                and tel_code = #{telCode}
            </if>
            <if test="tel != null and tel !='' ">
                and tel = #{tel}
            </if>
            <if test="avatar != null and avatar !='' ">
                and avatar = #{avatar}
            </if>
            <if test="gender != null and gender !='' ">
                and gender = #{gender}
            </if>
            <if test="status != null and status !='' ">
                and status = #{status}
            </if>
            <if test="introduction != null and introduction !='' ">
                and introduction = #{introduction}
            </if>
            <if test="remark != null and remark !='' ">
                and remark = #{remark}
            </if>
            <if test="deptId != null ">
                and dept_id = #{deptId}
            </if>
            <if test="createUserId != null and createUserId !='' ">
                and create_user_id = #{createUserId}
            </if>
            <if test="createTime != null and createTime !='' ">
                and create_time = #{createTime}
            </if>
            <if test="updateUserId != null and updateUserId !='' ">
                and update_user_id = #{updateUserId}
            </if>
            <if test="updateTime != null and updateTime !='' ">
                and update_time = #{updateTime}
            </if>
        </where>
</select>

    <select id="selectM" resultMap="baseResultMap">
        <include refid="selector"/>
        <where>
            <if test="id != null and id !='' ">
                  and id = #{id}
            </if>
            <if test="name != null and name !='' ">
                  and name = #{name}
            </if>
            <if test="nickname != null and nickname !='' ">
                  and nickname = #{nickname}
            </if>
            <if test="telCode != null and telCode !='' ">
                  and tel_code = #{telCode}
            </if>
            <if test="tel != null and tel !='' ">
                  and tel = #{tel}
            </if>
            <if test="avatar != null and avatar !='' ">
                  and avatar = #{avatar}
            </if>
            <if test="gender != null and gender !='' ">
                  and gender = #{gender}
            </if>
            <if test="status != null and status !='' ">
                  and status = #{status}
            </if>
            <if test="introduction != null and introduction !='' ">
                  and introduction = #{introduction}
            </if>
            <if test="remark != null and remark !='' ">
                  and remark = #{remark}
            </if>
            <if test="deptId != null ">
                and dept_id = #{deptId}
            </if>
            <if test="createUserId != null and createUserId !='' ">
                  and create_user_id = #{createUserId}
            </if>
            <if test="createTime != null ">
                  and create_time = #{createTime}
            </if>
            <if test="updateUserId != null and updateUserId !='' ">
                  and update_user_id = #{updateUserId}
            </if>
            <if test="updateTime != null ">
                  and update_time = #{updateTime}
            </if>
        </where>
        <if test="params.orderBy != null and params.orderBy != ''">
            ORDER  BY ${params.orderBy}
            <if test="params.by != null and params.by != ''">
                ${params.by}
            </if>
        </if>
    </select>


    <select id="selectByPageM" resultMap="baseResultMap">
        <include refid="selector"/>
        <where>
            <if test="model.id != null and model.id !='' ">
              and id = #{model.id}
            </if>
            <if test="model.name != null and model.name !='' ">
              and name = #{model.name}
            </if>
            <if test="model.nickname != null and model.nickname !='' ">
              and nickname = #{model.nickname}
            </if>
            <if test="model.telCode != null and model.telCode !='' ">
              and tel_code = #{model.telCode}
            </if>
            <if test="model.tel != null and model.tel !='' ">
              and tel = #{model.tel}
            </if>
            <if test="model.avatar != null and model.avatar !='' ">
              and avatar = #{model.avatar}
            </if>
            <if test="model.gender != null and model.gender !='' ">
              and gender = #{model.gender}
            </if>
            <if test="model.status != null and model.status !='' ">
              and status = #{model.status}
            </if>
            <if test="model.introduction != null and model.introduction !='' ">
              and introduction = #{model.introduction}
            </if>
            <if test="model.remark != null and model.remark !='' ">
              and remark = #{model.remark}
            </if>
            <if test="model.deptId != null ">
                and dept_id = #{model.deptId}
            </if>
            <if test="model.createUserId != null and model.createUserId !='' ">
              and create_user_id = #{model.createUserId}
            </if>
            <if test="model.createTime != null ">
              and create_time = #{model.createTime}
            </if>
            <if test="model.updateUserId != null and model.updateUserId !='' ">
              and update_user_id = #{model.updateUserId}
            </if>
            <if test="model.updateTime != null ">
              and update_time = #{model.updateTime}
            </if>
        </where>
        <if test="model.params != null and model.params.orderBy != null and model.params.orderBy != ''">
            ORDER  BY ${model.params.orderBy}
            <if test="model.params.by != null and model.params.by != ''">
                ${model.params.by}
            </if>
        </if>
        limit #{start}, #{count}
    </select>
    <sql id="whereSQL">
        <where>
            <if test="keyword != null and keyword != ''">
                and (
                `user`.`name` like #{keyword}
                or
                `user`.nickname like #{keyword}
                or
                `user`.tel like #{keyword}
                or
                `user`.remark like #{keyword}
                )
            </if>
            <if test="gender != null">
                and `user`.gender = #{gender}
            </if>
            <if test="status != null">
                and `user`.status = #{status}
            </if>
            <if test="deptId != null">
                and `user`.dept_id = #{deptId}
            </if>
            <if test="createTimeStart != null">
                and `user`.create_time &gt;= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null">
                and `user`.create_time &lt;= #{createTimeEnd}
            </if>
        </where>
    </sql>
    <select id="listPage" resultType="com.iuuui.common.dto.system.SysUserListDTO" parameterType="java.util.Map">
        SELECT
            `user`.id id,
            `user`.`name` `name`,
            `user`.nickname nickname,
            `user`.tel_code telCode,
            `user`.tel tel,
            `user`.avatar avatar,
            `user`.`status` `status`,
            `user`.gender gender,
            `user`.introduction introduction,
            `user`.remark remark,
            `user`.dept_id deptId,
            dept.`name` deptName,
            `user`.create_user_id createUserId,
            `user`.create_time createTime,
            `user`.update_user_id updateUserId,
            updateUser.`name` updateUserName,
            `user`.update_time updateTime
        FROM sys_user `user`
        LEFT JOIN sys_dept dept ON dept.id = user.dept_id
        LEFT JOIN sys_user updateUser ON updateUser.id = user.update_user_id

        <include refid="whereSQL"/>

        order by `user`.create_time desc
        limit #{start}, #{count}
    </select>
    <select id="count" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT
            COUNT(*)
        FROM sys_user `user`
        LEFT JOIN sys_dept dept ON dept.id = user.dept_id
        LEFT JOIN sys_user updateUser ON updateUser.id = user.update_user_id
        <include refid="whereSQL"/>
    </select>
    <select id="listBasicInfo" resultType="com.iuuui.common.dto.system.SysUserBasicInfoDTO" parameterType="java.util.Map">
        select
            `user`.id id,
            `user`.`name` `name`,
            `user`.nickname nickname,
            `user`.tel_code telCode,
            `user`.tel tel,
            `user`.dept_id deptId,
            dept.`name` deptName
        from sys_user `user`
        left join sys_dept dept on dept.id = `user`.dept_id
        <where>
            <if test="keyword != null and keyword != ''">
                and (
                `user`.`name` like #{keyword}
                or
                `user`.`tel` like #{tel}
                or
                `user`.`nickname` like #{nickname}
                or
                `user`.`remark` like #{remark}
                )
            </if>
            <if test="status != null">
                and `user`.`status` = #{status}
            </if>
        </where>
        order by `user`.create_time desc
    </select>

</mapper>
